{% extends "base.html" %}
{% block head %}
    <style>
        .card {
            flex-basis: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="flex-grow-1 card text-white bg-primary me-3">
            <div class="card-header">Task Num</div>
            <div class="card-body">
                <h5 class="card-title">{{ task_num }}</h5>
                <p class="card-text">All task num</p>
                <a href="/task" class="stretched-link"></a>
            </div>
        </div>
        <div class="flex-grow-1 card text-white bg-success me-3">
            <div class="card-header">Run Times</div>
            <div class="card-body">
                <h5 class="card-title">{{ run_times }}</h5>
                <p class="card-text">All task run times</p>
                <a href="/result" class="stretched-link"></a>
            </div>
        </div>
        <div class="flex-grow-1 card text-white bg-secondary">
            <div class="card-header">Worker Num</div>
            <div class="card-body">
                <h5 class="card-title">{{ worker_num }}</h5>
                <p class="card-text">All worker num, include timer worker</p>
                <a href="/worker" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <canvas id="dashboard" width="400" height="120"></canvas>

{% endblock %}
{% block body_end %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
            integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
            crossorigin="anonymous"></script>
    <script>
        var ctx = document.getElementById('dashboard').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
